# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
ENV/
.env/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# Node
node_modules/

# Docker
**/.env

# OS files
.DS_Store
Thumbs.db

# OneDrive
~$*

# Logs
*.log

# SSL
*.pem

# other
*.sqlite3
documentacion.md
